body {
    background-color: #e4eeeb;
}
h2 {
    color: #00A8CC;
}
h3 {
    color: #00A8CC;
    
}
hr {
    border-style: dotted none none none;
    color: grey;
    border-width: 5px;
    width: 5%;
}
